{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}">

<div class="custom-padding">
  <nav>
    <div class="logo">Event Planner</div>

    <ul class="menu-area">
      <li><a href="{% url 'polls:index' %}">All Events</a></li>
      <li><a href="#">Add Event</a></li>
    </ul>
  </nav>
</div>


<h1 id="eventdetail">{{ event.event_name }}</h1>


{% for item in event_item %}
    <li id="eventitems">{{ item.item_text }} | Starting at: {{ item.item_time }}</li>
{% endfor %}
